.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.login__form input {
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.login__form button {
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--logo-color);
  color: #f4f4f4;
}
